.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  } 
  .axis text {
    font-size: 0.75em;
  }  
  rect.histogram-bar {
    fill: steelblue;
    shape-rendering: crispEdges;
  }
  .bar text {
    font-size: 0.4em;
  }