.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
}

.axis.dotted line,
.axis.dotted path {
  stroke-dasharray: 0.9;
}